<!DOCTYPE html>
<html>
<head>
    <title>Edit Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>Edit Channel: {{ channel['channel_name'] }}</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="channel_name" value="{{ channel['channel_name'] }}">
        <!-- Add more parameters here -->
        <label>Input Protocol:</label>
        <input type="text" name="input_protocol" value="{{ channel['input_protocol'] }}" required><br>
        <label>Input IP:</label>
        <input type="text" name="input_ip" value="{{ channel['input_ip'] }}" required><br>
        <label>Input Port:</label>
        <input type="text" name="input_port" value="{{ channel['input_port'] }}" required><br>
        <label>Input rcvbuf:</label>
        <input type="text" name="input_rcvbuf" value="{{ channel['input_rcvbuf'] }}" required><br>
        <label>Input sndbuf:</label>
        <input type="text" name="input_sndbuf" value="{{ channel['input_sndbuf'] }}" required><br>
        <label>Input Latency:</label>
        <input type="text" name="input_latency" value="{{ channel['input_latency'] }}" required><br>    
        <label>Output Protocol:</label>
        <input type="text" name="output_protocol" value="{{ channel['output_protocol'] }}" required><br>
        <label>Output IP:</label>
        <input type="text" name="output_ip" value="{{ channel['output_ip'] }}" required><br>
        <label>Output Port:</label>
        <input type="text" name="output_port" value="{{ channel['output_port'] }}" required><br>
        <label>Output rcvbuf:</label>
        <input type="text" name="output_rcvbuf" value="{{ channel['output_rcvbuf'] }}" required><br>
        <label>Output sndbuf:</label>
        <input type="text" name="output_sndbuf" value="{{ channel['output_sndbuf'] }}" required><br>
        <label>Output Latency:</label>
        <input type="text" name="output_latency" value="{{ channel['output_latency'] }}" required><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
