<!DOCTYPE html>
<html>
<head>
    <title>Edit Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
            <a href="{{ url_for('index') }}" class="brand-logo">SRT Channels</a>
        </div>
    </nav>
    <div class="container form-container">
        <h4>Edit Channel: {{ channel['channel_name'] }}</h4>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="channel_name" value="{{ channel['channel_name'] }}">
            <div class="input-field">
                <input type="text" name="input_protocol" id="input_protocol" value="{{ channel['input_protocol'] }}" required>
                <label for="input_protocol">Input Protocol</label>
            </div>
            <div class="input-field">
                <input type="text" name="input_ip" id="input_ip" value="{{ channel['input_ip'] }}" required>
                <label for="input_ip">Input IP</label>
            </div>
            <div class="input-field">
                <input type="text" name="input_port" id="input_port" value="{{ channel['input_port'] }}" required>
                <label for="input_port">Input Port</label>
            </div>
            <div class="input-field">
                <input type="text" name="input_rcvbuf" id="input_rcvbuf" value="{{ channel['input_rcvbuf'] }}" required>
                <label for="input_rcvbuf">Input rcvbuf</label>
            </div>
            <div class="input-field">
                <input type="text" name="input_sndbuf" id="input_sndbuf" value="{{ channel['input_sndbuf'] }}" required>
                <label for="input_sndbuf">Input sndbuf</label>
            </div>
            <div class="input-field">
                <input type="text" name="input_latency" id="input_latency" value="{{ channel['input_latency'] }}" required>
                <label for="input_latency">Input Latency</label>
            </div>
            <div class="input-field">
                <input type="text" name="output_protocol" id="output_protocol" value="{{ channel['output_protocol'] }}" required>
                <label for="output_protocol">Output Protocol</label>
            </div>
            <div class="input-field">
                <input type="text" name="output_ip" id="output_ip" value="{{ channel['output_ip'] }}" required>
                <label for="output_ip">Output IP</label>
            </div>
            <div class="input-field">
                <input type="text" name="output_port" id="output_port" value="{{ channel['output_port'] }}" required>
                <label for="output_port">Output Port</label>
            </div>
            <div class="input-field">
                <input type="text" name="output_rcvbuf" id="output_rcvbuf" value="{{ channel['output_rcvbuf'] }}" required>
                <label for="output_rcvbuf">Output rcvbuf</label>
            </div>
            <div class="input-field">
                <input type="text" name="output_sndbuf" id="output_sndbuf" value="{{ channel['output_sndbuf'] }}" required>
                <label for="output_sndbuf">Output sndbuf</label>
            </div>
            <div class="input-field">
                <input type="text" name="output_latency" id="output_latency" value="{{ channel['output_latency'] }}" required>
                <label for="output_latency">Output Latency</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Save Changes
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>